<!doctype html>
<html lang="en">
<head>

  <title>Advent Calendar of Useless Stuff</title>
  



  

  <link rel="stylesheet" href="css/crystallo-min.css">
  <link rel="stylesheet" href="css/adventcalendar.css">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="author" href="https://plus.google.com/u/0/112605782451035737058/posts">
</head>

<body data-max-width="1152" data-theme="adventcalendar" data-auto-extend="true" onload="init()">

  <div class="output"></div>
    
  <article>
    <section>
      <h1>Education Advent Calendar </h1>
    </section>
  </article>
  

  <article class="adventcalendar">
    <section data-cols="5">
    </section>
  </article>
  

  
  
  <script id="doorTemplate" type="text/template">
      <div>
        <div class="number">
          <%= date.getDate() %>
        </div>
      </div>
      <div></div>
  </script>

  <script id="outputTemplate" type="text/template">
      <div class="close" title="Fenster schliessen">
        <span class="day"><%= number %></span>
        <span class="typicons typicons-times"></span>
      </div>
      
      <article>
        <section>
          <p>
            <%= date.toLocaleDateString() %>
          </p>
          <h1><%= title %></h1>
          <p>
            <iframe width="560" height="315" src="<%= content %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </p>
        </section>
      </article>
  </script>

  <script src="js/libs/libs.js"></script>
  <script src="js/main.js"></script>

  <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-5596313-4']);_gaq.push(['_setDomainName', 'timpietrusky.github.com']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
  
  <script type="text/javascript" src="js/libs/snowIn3d-min.js"></script>
</body>

</html>